.app-header {
    background-color: #FFFFFF;
}

.header__heading {
    font-size: 28px;
    margin: 10px 50px;
}

.login-form {
    background-color: #DCDCDC;
}

.content__heading {
    font-size: 20px;
    padding-top: 40px;
    text-align: center;
}

.login-form__inner {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    padding-bottom: 130px;
}

@media screen and (max-width: 1200px) {
    .login-form__form {
    width: 100vw;
    }
}

.login-form__group {
    margin-bottom: 20px;
}

.login-form__input {
    display: block;
    padding: 5px 10px;
    width: 110%;
    height: 40px;
    border: 1px solid #808080;
    border-radius: 3px;
    color: #808080;
}

.login-form__btn {
    display: block;
    padding: 5px;
    width: 110%;
    height: 40px;
    text-align: center;
    margin-bottom: 20px;
    border: 1px solid #808080;
    border-radius: 3px;
    color: #FFFFFF;
    background-color: #0000FF;
}

.login-form__text {
    text-align: center;
}

.login-form__message {
    color: #808080;
    font-size: 16px;
}

.login-form__register-link {
    color: #0000FF;
    text-decoration: none;
}

.app-footer {
    text-align: center;
    padding-top: 5px;
}

.copyright {
    font-weight: bold;
}